h2 Konto
p
  | Välkommen, 
  strong= @user['name']

p
  | Du är inloggad.

h3 Dina trådar
- if @threads.empty?
  p Du har inte skapat några trådar än.
- else
  ul
    - @threads.each do |thread|
      li
        a href="/forum/#{thread['id']}"
          = thread['title']
        |  - skapad: #{thread['created_at']}

h3 Dina inlägg
- if @posts.empty?
  p Du har inte skrivit några inlägg än.
- else
  ul
    - @posts.each do |post|
      li
        a href="/forum/#{post['thread_id']}"
          = post['thread_title']
        |  • #{post['created_at']}
        p = post['body']

h3 Dina marknadsplatsobjekt
- if @marketplace_items.empty?
  p Du har inte listat några varor än.
- else
  ul
    - @marketplace_items.each do |item|
      li
        a href="/marketplace/#{item['id']}"= item['title']
        |  • #{sprintf('%.2f', item['price'])} kr

h3 Mottagna meddelanden (marknadsplats)
- if @marketplace_received_messages.empty?
  p Inga meddelanden än.
- else
  ul
    - @marketplace_received_messages.each do |msg|
      li
        p
          strong Från: #{msg['sender_name']}
          |  för objekt: #{msg['item_title']}
          |  (#{msg['created_at']})
        p = msg['body']

p
  a href='/marketplace/messages' Visa alla meddelanden