h1 Forum
a href="/forum/new" Skapa ny tråd

- if @threads.empty?
  p Inga trådar ännu.
- else
  ul
    - @threads.each do |t|
      li
        a href="/forum/#{t['id']}" = t['title']
        |  (#{t['posts_count']} inlägg)