<!-- Inloggningssida där användare kan logga in eller skapa ett nytt konto. Om det finns ett felmeddelande (t.ex. "felaktigt lösenord" eller "användarnamn redan taget") visas det i rött. -->

p Logga in 
form action="/login" method="post" 
    input type="text" name="name" placeholder="namn"
    input type="text" name="pwd" placeholder="lösenord"
    input type="submit" value="logga in" 

hr
p ny användare 
- if params[:error]
  p style="color: red;" = params[:error]
form action="/user" method="post" 
    input type="text" name="name" placeholder="namn"
    input type="text" name="pwd" placeholder="lösenord"
    input type="text" name="pwd_confirm" placeholder="lösenord igen"
    input type="submit" value="skapa ny användare"