<!-- Visa användarens marknadsplatsmeddelanden, både mottagna och skickade. Användaren kan redigera eller ta bort sina skickade meddelanden. -->

h1 Dina marknadsplatsmeddelanden

h2 Mottagna meddelanden
- if @received_messages.empty?
  p Inga mottagna meddelanden.
- else
  ul
    - @received_messages.each do |msg|
      li
        p
          strong Från: #{msg['sender_name']}
          |  för objekt: #{msg['item_title']}
          |  (#{msg['created_at']})
        p = msg['body']

h2 Skickade meddelanden
- if @sent_messages.empty?
  p Inga skickade meddelanden.
- else
  ul
    - @sent_messages.each do |msg|
      li
        p
          strong Till: #{msg['receiver_name']}
          |  för objekt: #{msg['item_title']}
          |  (#{msg['created_at']})
          |  
          a href="/marketplace/#{msg['item_id']}/message/#{msg['id']}/edit" Redigera
          |  |
          form action="/marketplace/#{msg['item_id']}/message/#{msg['id']}/delete" method="post" style="display:inline;"
            button type="submit" onclick="return confirm('Är du säker på att du vill ta bort detta meddelande?')" Ta bort
        p = msg['body']

p
  a href='/marketplace' Gå tillbaka till marketplace